<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.agent.station.infrastructure.dao.AgentConfigDao">

    <resultMap id="AgentConfigMap" type="ai.agent.station.infrastructure.dao.po.AgentConfig">
        <id column="id" property="id"/>
        <result column="agent_id" property="agentId"/>
        <result column="client_id" property="clientId"/>
        <result column="client_name" property="clientName"/>
        <result column="sequence" property="sequence"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getClientIdListByAgentId" resultType="java.lang.String">
        select client_id
        from agent_config
        where agent_id = #{agentId}
        order by sequence asc
    </select>

</mapper>